{% extends 'base.html' %}
{% block content %}
{% load static %}


<style>
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  
  .column {
    width: 48%; /* Adjust as needed */
    margin-bottom: 20px;
  }

  /* Input field styles */
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="number"],
  select,
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    background-color: #000;
  }
  select{
    color: white;
  }
  textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    background-color: #000;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(1); /* Invert color for the calendar icon */
    }


  /* Additional styling for select dropdown arrow */
  
   
  
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
   color: white;
  }
  
#itemTable th:nth-child(1),
  #itemTable td:nth-child(1) {
    width: 30px; /* Decrease width of Index column */
  }

  #itemTable th:nth-child(2),
  #itemTable td:nth-child(2) {
    width: 200px; /* Increase width of Item column */
  }


  /* Button styles */
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.draft-button,
.sent-button,
.cancel-button {
    border: 1px solid orange;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: orange;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.draft-button:hover,
.sent-button:hover,
.cancel-button:hover {
    background-color: orange;
    color: white;
}

.table-container {
        overflow-x: auto;
    }

    
</style>
<body>
  
  <div class="body-wrapper">
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'company_dashboard' %}" class="text-warning-emphasis">Dashboard</a></li>
          
          <li class="breadcrumb-item"><a href="{% url 'challan_list' %}" class="text-warning-emphasis">All Delivery Challan</a></li>
          <li class="breadcrumb-item">New Delivery Challn</li>
          
          
        </ol>
      </nav>
      <div style="overflow-x:auto;"> 


        <div class="container-fluid bg-black" style="padding: 20px;">

         
          <h3 style="color: white;">New Delivery Challan</h3>
          {% if messages %}
          {% for message in messages %}
              <div class="alert alert-success" role="alert" style="color: orange;background-color: black;border: none;">
                  {{ message }}
              </div>
          {% endfor %}
      {% endif %}
          <form method="post" action="">
            {% csrf_token %}
            <div class="container">
              <!-- Left Column -->
              <div class="column">
               
                  <label for="customerName">Customer Name*</label>
                  <select id="customerName" name="customerName">
                    <option value="value" selected></option>
                   {% for customer in customer %}
                   <option value="{{customer.id}}">{{customer.first_name}} {{customer.last_name}}</option>
                   {% endfor%}
                  </select>
                 
                  <button  onclick="addNewCustomer()" style="border: 1px solid orange;border-radius: 5px;width: 50px;height: 40px;">+</button><br>
            
                  <label for="customerEmail">Customer Email ID</label>
                  <input type="email" id="customerEmail" name="customerEmail" >
            
                  <label for="billingAddress">Billing Address</label>
                  <textarea id="billingAddress" name="billingAddress"></textarea><br>
                 
            
                  <label for="gstTreatment">GST Treatment</label>
                  <input type="text" id="gstTreatment" name="gstTreatment" readonly >
            
                  <label id="gstNumberLabel"  for="gstNumber" >GST Number</label>
                  <input type="text" id="gstNumber" name="gstNumber" readonly >
               
              </div>
            
              <!-- Right Column -->
              <div class="column">
                
                  <label for="placeOfSupply">Place of Supply</label>
                  <select id="placeOfSupply" name="placeOfSupply">
                    <option value="value" selected></option>
                    <option value="[AN]-Andaman And Nicobar Islands">[AN]-Andaman And Nicobar Islands</option> <option value="[AD]-Andhra Pradesh">[AD]-Andhra Pradesh</option>
                    <option value="[AR]-Arunachal Pradesh">[AR]-Arunachal Pradesh	</option> <option value="volvo">[AS]-Assam</option>
                    <option value="[BR]-Bihar">[BR]-Bihar</option> <option value="volvo">[CH]-	Chandhigarh</option><option value="[CG]-Chattisgarh">[CG]-Chattisgarh</option>
                    <option value="[DD]-Daman Diu">[DD]-Daman Diu</option><option value="volvo">[DL]-	Delhi</option><option value="[GA]-Goa">[GA]-Goa</option> <option value="[GJ]-Gujarat">[GJ]-Gujarat</option>
                    <option value="[HR]-Haryana">[HR]-Haryana</option> <option value="[HP]-Himachal Pradesh">[HP]-Himachal Pradesh</option>
                    <option value="[JK]-Jammu And Kashmir">[JK]-Jammu And Kashmir</option><option value="[JH]-Jharkand">[JH]-Jharkand</option>
                    <option value="[KA]-Karnataka">[KA]-Karnataka</option><option value="[KL]-Kerala">[KL]-Kerala</option>
                    <option value="[LA]-Ladakh">[LA]-Ladakh</option><option value="[LD]-Lakshadweep">[LD]-Lakshadweep</option>
                    <option value="[MP]-Madhyapradesh">[MP]-Madhyapradesh</option><option value="[MH]-Maharashtra">[MH]-Maharashtra</option>
                    <option value="[MN]-Manipur">[MN]-Manipur</option>  <option value="[ML]-Meghalaya">[ML]-Meghalaya</option>
                  <option value="[MZ]-Mizoram">[MZ]-Mizoram</option> <option value="[NL]-Nagaland">[NL]-Nagaland</option> <option value="[NL]-Nagaland">[NL]-Nagaland</option>
                   <option value="[OD]-Odisha">[OD]-Odisha</option><option value="[PY]-Puducherry">[PY]-Puducherry</option>
                    <option value="[PB]-Punjab">[PB]-Punjab.</option><option value="[RL]-Rajasthan">[RL]-Rajasthan</option>
                    <option value="[SK]-Sikkim">[SK]-Sikkim</option><option value="[TN]-Tamilnadu">[TN]-Tamilnadu</option>
                    <option value="[TS]-Telenghana">[TS]-Telenghana</option><option value="[TR]-Tripura">[TR]-Tripura</option><option value="[UP]-Uttar Pradesh">[UP]-Uttar Pradesh</option>
                    <option value="[UK]-Utharakhand">[UK]-Utharakhand</option><option value="[WB]-West Bengal">[WB]-West Bengal</option>
                    <option value="[OT]-Other Territory">[OT]-Other Territory</option>
                  </select>
            
                  <label for="deliveryChallan">Delivery Challan No</label>
                  <input type="text" id="deliveryChallan" name="deliveryChallan" oninput="updateChallanPattern()">
            
                  <label for="referenceNumber">Reference Number</label>
                  <input type="text" id="referenceNumber" name="referenceNumber" >
            
                  <label for="deliveryChallanDate">Delivery Challan Date</label>
                  <input type="date" id="deliveryChallanDate" name="deliveryChallanDate"><br>
            
                  <label for="challanType">Challan Type</label>
                  <select id="challanType" name="challanType">
                    <option value="Supply Of Liquid Gas">Supply Of Liquid Gas</option>
                    <option value="Job Work">Job Work</option>
                    <option value="Supply Of Approval">Supply Of Approval</option>
                    <option value="Others">Others</option>
                  </select>
                
              </div>
            </div>



           <div class="container">
            <div class="table-container">
    <table class="responsive-table" id="itemTable" >
        <thead>
            <tr>
                <th style="width: 50px;">Index</th>
                <th style="width: 150px;">Item</th>
                <th style="width: 150px;">HSN</th>
                <th style="width: 150px;">Quantity</th>
                <th style="width: 150px;">Rate</th>
                <th style="width: 150px;">Discount</th>
                <th style="width: 150px;">Tax</th>
                <th style="width: 150px;">Amount</th>
                <th style="width: 50px;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <div style="display: flex; align-items: center;">
                        <select name="item" id="item" style="flex: 1; width: 250%;color: white;">
                          <option value="value" selected></option>
                            {% for i in item %}
                            <option value="{{i.id}}" style="color: white;" >{{i.item_name}}</option>
                            {% endfor %}
                        </select>
                        <button style="border: 1px solid orange; border-radius: 5px; width: 50px; height: 40px;">+</button>
                    </div>
                </td>
                <td><input type="text" id="hsn" name="hsn" style="width: 100%;background-color: black;border: 1px solid white;border-radius: 8px;"></td>
                <td><input type="number" id="quantity" name="quantity" value="0" style="width: 100%;background-color: black;border: 1px solid white;border-radius: 8px;"><label id="availableStock" style="color: orange;"></label></td>
                <td><input type="number" id="rate" name="rate" style="width: 100%;background-color: black;border: 1px solid white;border-radius: 8px;"></td>
                <td><input type="number" name="discount" value="0" style="width: 100%;background-color: black;border: 1px solid white;border-radius: 8px;"></td>
                <td>
                    <select id="tax" name="tax" style="width: 100%;">
                       
                        <option value="0">0% GST</option>
                        <option value="3">3% GST</option>
                        <option value="5">5% GST</option>
                        <option value="12">12% GST</option>
                        <option value="18">18% GST</option>
                        <option value="28">28% GST</option>
                    </select>
                </td>
                <td><input type="text" name="amount" style="width: 100%;"></td>
                <td><button style="border: 1px solid orange; border-radius: 5px; width: 50px; height: 40px;" onclick="removeRow(this)">-</button></td>
            </tr>
        </tbody>
    </table>
    <button type="button" onclick="addRow()" style="border: 1px solid orange; border-radius: 5px; width: 50px; height: 40px;">+</button>
</div>
</div>
      




<div class="container mt-5">
  <!-- Left Column -->
  <div class="column">
      <label for="note">Add Note</label><br>
      <textarea id="note" name="note"></textarea><br>
      <input type="file" name="file"><br><br><br><br><br>

      <input type="checkbox" id="termsAndConditions" name="termsAndConditions" required>
<label for="termsAndConditions">Agree to Terms and Conditions</label>
  </div>

  <!-- Right Column -->
  <div class="column ">
      

      <label for="subtotal">Sub Total:</label><br>
      <input type="text" id="subtotal" name="subtotal" readonly><br>

      <label for="igst">IGST:</label><br>
      <input type="text" id="igst" name="igst" readonly><br>

      <label for="cgst">CGST:</label><br>
      <input type="text" id="cgst" name="cgst" readonly><br>

      <label for="sgst">SGST:</label><br>
      <input type="text" id="sgst" name="sgst" readonly><br>

      <label for="taxAmount">Tax Amount:</label><br>
      <input type="text" id="taxAmount" name="taxAmount" readonly><br>

      <label for="shippingCharge">Shipping Charge:</label><br>
      <input type="number" id="shippingCharge" name="shippingCharge"><br>

      <label for="adjustment">Adjustment:</label><br>
      <input type="number" id="adjustment" name="adjustment"><br>

      <label for="total">Total:</label><br>
      <input type="text" id="total" name="total" ><br>
  </div>
</div>

<div class="button-container">
  <button class="draft-button">Draft</button>
  <button class="sent-button">Sent</button>
</form>
  <button class="cancel-button">Cancel</button>
</div>



<script>
 document.getElementById('customerName').addEventListener('change', function() {
    var customerId = this.value;
    console.log('Selected Customer ID:', customerId);
    if (customerId) {
        fetchCustomerData(customerId);
    } else {
        clearCustomerInfo();
    }
});
  function fetchCustomerData(customerId) {
      $.ajax({
          url: '/get_customer_data/' + customerId + '/',
          type: 'GET',
          success: function(data) {
              document.getElementById('customerEmail').value = data.email;
              document.getElementById('billingAddress').value = data.billing_address;
              document.getElementById('gstTreatment').value = data.gsttype;
              document.getElementById('placeOfSupply').value = data.place;
              var gstNumberLabel = document.getElementById('gstNumberLabel');
              if (data.gsttype === 'Unregistered Business-not Registered under GST') {
                  document.getElementById('gstNumber').style.display = 'none';
                  gstNumberLabel.style.display = 'none'; 
              } else {
                  document.getElementById('gstNumber').value = data.gstnumber;
                  document.getElementById('gstNumber').style.display = 'block';
                  gstNumberLabel.style.display = 'block'; 
              }
          },
          error: function(xhr, status, error) {
              console.error('Error fetching customer data:', error);
          }
      });
  }
  
  function clearCustomerInfo() {
      
      document.getElementById('customerEmail').value = '';
      document.getElementById('billingAddress').value = '';
      
  }
  </script>

<script>
  document.getElementById('item').addEventListener('change', function() {
     var itemId = this.value;
    
     if (itemId) {
         fetchitemData(itemId);
     } else {
         clearitemInfo();
     }
 });

 document.getElementById('quantity').addEventListener('input', function() {
        var quantity = this.value;
        var itemId = document.getElementById('item').value;

        if (quantity && itemId) {
            fetchStock(itemId, quantity);
        } else {
            clearStock();
        }
    });
    document.getElementById('quantity').addEventListener('input', function() {
    var quantity = parseFloat(this.value);
    var itemId = document.getElementById('item').value;

    if (quantity >= 0 && itemId) {
        fetchitemData(itemId);
    } else {
        clearitemInfo();
    }
});
 function fetchitemData(itemId) {
    $.ajax({
        url: '/get_item_data/' + itemId + '/',
        type: 'GET',
        success: function(data) {
            console.log('Received item data:', data);
            document.getElementById('hsn').value = data.hsn;
            document.getElementById('rate').value = data.rate;
            
            var placeOfSupply = document.getElementById('placeOfSupply').value;
            var taxType = 'GST'; 

            if (placeOfSupply !== data.company_state) {
                taxType = 'IGST';
            }

            var taxRate = (taxType === 'GST') ? data.intratax : data.intertax;
            document.getElementById('tax').value = taxRate;
            updateAvailableStock(data.stock);


            
        
        },
        
       


        
    });
}
function updateAvailableStock(stock) {
    var quantity = parseFloat(document.getElementById('quantity').value);
    var availableStock = stock - quantity;
    document.getElementById('availableStock').innerText = 'Available Stock: ' + availableStock;
}

       

    function clearitemInfo() {
        document.getElementById('hsn').value = '';
        document.getElementById('rate').value = '';
        document.getElementById('tax').value = '';
    }

    function clearStock() {
        var stockLabel = document.getElementById('availableStock');
        stockLabel.textContent = ''; 
    }
   </script>



  <script>
    function addRow() {
      var table = document.getElementById("itemTable").getElementsByTagName('tbody')[0];
      var newRow = table.insertRow(table.rows.length);
      var index = table.rows.length;
      var row = newRow.insertCell(0);
      var item = newRow.insertCell(1);
      var hsn = newRow.insertCell(2);
      var quantity = newRow.insertCell(3);
      var rate = newRow.insertCell(4);
      var discount = newRow.insertCell(5);
      var tax = newRow.insertCell(6);
      var amount = newRow.insertCell(7);
      var action = newRow.insertCell(8);
      row.innerHTML = index;
      
      


      item.innerHTML = '<div style="display: flex; align-items: center;"><select name="item" style="flex: 1; width: 200%;color: white;"></select><button style="border: 1px solid orange; border-radius: 5px; width: 50px; height: 40px;">+</button></div>';
      hsn.innerHTML = '<input type="text" name="hsn" style="width: 100%;">';
      quantity.innerHTML = '<input type="number" name="quantity" style="width: 100%;">';
      rate.innerHTML = '<input type="number" name="rate" style="width: 100%;">';
      discount.innerHTML = '<input type="number" name="discount" style="width: 100%;">';
      tax.innerHTML = '<select name="tax" style="width: 100%;"><option value="0">0% GST</option><option value="3">3% GST</option><option value="5">5% GST</option><option value="12">12% GST</option><option value="18">18% GST</option><option value="28">28% GST</option></select>';
      amount.innerHTML = '<input type="text" name="amount" style="width: 100%;">';
      action.innerHTML = '<button style="border: 1px solid orange; border-radius: 5px; width: 50px; height: 40px;" onclick="removeRow(this)">-</button>';
    }
  
    function removeRow(button) {
      var row = button.parentNode.parentNode;
      row.parentNode.removeChild(row);
    }
  </script>





<script>
  document.addEventListener('DOMContentLoaded', function() {
    
    function formatDate(date) {
      const year = date.getFullYear();
      const month = (date.getMonth() + 1).toString().padStart(2, '0'); 
      const day = date.getDate().toString().padStart(2, '0');
      return `${year}-${month}-${day}`;
    }

    
    const currentDate = new Date();

    
    document.getElementById('deliveryChallanDate').value = formatDate(currentDate);
  });
</script>

  
</body>

{% endblock %}