{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>


<style>
  table tr td:hover {
  cursor: pointer;
}
.action-button {
    display: flex; 
    justify-content: flex-end; 
    gap: 10px; 
    margin: 10px;
}
.btn-orange {
    background-color: orange; 
    color: white;              
  }
.modal-body input[type="text"],
    .modal-body input[type="email"],
    
    .modal-body textarea {
        width: 100%; /* Adjust the width as needed */
    }
    .modal-body input[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(0); /* Invert color for the calendar icon */
    }
input[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(1); /* Invert color for the calendar icon */
    }
    .btn-container {
    text-align: center; /* Center the content horizontally */
  }

  .btn-add {
    border: 2px solid orange;
    border-radius: 10px;
   color: orange;
   
    width: 80px;
   
    transition: background-color 0.3s ease; /* Add smooth transition effect */
}
select#employee-dropdown {
            color: white; /* Set the color of the selected option */
            background-color: black; /* Set the background color of the dropdown box */
        }

        /* Style for the option elements */
        select#employee-dropdown option {
            color: black; 
            background-color: white;/* Set the color of the options */
        }

.btn-add:hover {
    background-color: orange;
    color: white;
    color: white; /* Add this line to ensure text is visible on hover */
}
  

</style>
<body>
  
  <div class="body-wrapper">
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'company_dashboard' %}" class="text-warning-emphasis">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{% url 'company_attendance_list' %}" class="text-warning-emphasis">Attendance list</a></li>
          <li class="breadcrumb-item"><a href="{% url 'company_mark_attendance' %}" >Mark Leave</a></li>
        </ol>
      </nav>
      <div style="overflow-x:auto;"> 


        <div class="container-fluid bg-black" id="mark" style="padding: 20px;">

         
          <h3 style="color: white;">Mark Leave</h3>
          {% if messages %}
          {% for message in messages %}
              <div class="alert alert-success" role="alert" style="color: orange;background-color: black;border: none;">
                  {{ message }}
              </div>
          {% endfor %}
      {% endif %}
          
      <form action="{% url 'create_item'%}" method="POST" id="add" style="padding-left: 20px;">
        {% csrf_token%}
        <br>  
        <h3 class="mb-3 text-white mt-4" style="font-size: 2rem;"></h3>
        <br>
        <fieldset class="form-group" >
            <div class="row">
              <hr>
             
                <div class="col-12 col-md-10">
                  <label class="col-12 col-md-2 col-form-label pt-3" style="color: aliceblue;">Type  &nbsp;&nbsp;<i
                    class="fa fa-question-circle"></i></label>
                    <div class="form-check form-check-inline">
                        <input required class="form-check-input" type="radio" name="type" id="gridRadios1" value="Goods">
                        <label class="form-check-label text-white" for="gridRadios1">Goods</label>
                    </div> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                    <div class="form-check form-check-inline ml-md-3">
                        <input required class="form-check-input" type="radio" name="type" id="gridRadios2" value="Services">
                        <label class="form-check-label text-white" for="gridRadios2">Services</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <br>
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label " style="color: aliceblue;">Name *</label>
            <div class="col-sm-10 col-md-7 col-9" style="margin-left: -2.2rem;">
              <input required type="text" class="form-control" name="name" id="nameInput" style="color: aliceblue;" placeholder="Enter Item Name">  
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" style="color: aliceblue;">Unit <i class="fa fa-question-circle"></i></label>
            <div class="col-sm-10 col-md-7 col-9" style="margin-left: -2.2rem;">
                <div class="d-flex align-items-center">
                    <select name="unit" class="form-control" id="selunit"  style="background-color: black; color: white;border-radius: 5px;"  >
                      {% for i in units %}
                        <option value={{i.id}}>{{i.unit_name}}</option>
                      {% endfor %}
                    </select>
                    <script>
                      $(document).ready(function() {
                        // Initialize select2
                        $('#selunit').select2();
                      });
                      </script>                        
                       <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" defer ></script>
    <a class="btn btn-outline-warning py-2" style="cursor: pointer;" data-toggle="modal" data-target="#unitmodal" style="height: 38px; margin-right: 3px;">+</a>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" style="color: aliceblue;">HSN Code</label>
            <div class="col-sm-10 col-md-7 col-9" style="margin-left: -2.2rem;">
                <input required type="text" class="form-control" name="hsn" required id="myInputField" style="color: aliceblue;" placeholder="Enter six digit HSN code" oninput="validateInput()">
                <div id="validationResult"></div>
            </div>
        </div>
        <br>
        <fieldset class="form-group" >
            <div class="row">
          
                <div class="col-12 col-md-10">
                  <label class="col-12 col-md-2 col-form-label pt-3" style="color: aliceblue;">Tax Preference: &nbsp;&nbsp;</label>
                    <div class="form-check form-check-inline">
                        <input required class="form-check-input" type="radio" name="radio" id="gridRadios1" onclick="showAllSelect()" value="taxable">
                        <label class="form-check-label text-white" for="gridRadios1">Taxable</label>
                    </div> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                    <div class="form-check form-check-inline ml-md-3">
                        <input required class="form-check-input" type="radio" name="radio" id="gridRadios2"  onclick="hideAllSelect()" value="None-Taxable">
                        <label class="form-check-label text-white" for="gridRadios2"> None-Taxable</label>
                    </div>
                </div>
            </div>
        </fieldset>
      
<br>
          <div class="row">
            <div class="col-md-3">
          
              <div id="select1_div" style="display: none;">
                <label for="select1">Intra-State TAX</label><br> <br>
                <select name="intra" class="form-control" id="select1" style="background-color: black; color: white;">
                    <option value="0">GST0[0%]</option>
                    <option value="3">GST3[3%]</option>
                    <option value="5">GST5[5%]</option>
                    <option value="12">GST12[12%]</option>
                    <option value="18">GST18[18%]</option>
                    <option value="28">GST28[28%]</option>
                </select>
                
              </div>
            </div>
            <div class="col-md-6">
              <div id="select2_div" style="display: none;">
                <label for="select2">Inter-State TAX</label> <br><br>
                <select name="inter" class="form-control " id="select2" style="background-color: black; color: white;">
                  <option value="0">IGST0[0%]</option>
                  <option value="5">IGST3[3%]</option>
                  <option value="5">IGST5[5%]</option>
                  <option value="12">IGST12[12%]</option>
                  <option value="18">IGST18[18%]]</option>
                  <option value="28">IGST28[28%]</option>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <input  type="checkbox" name="selling" checked> <label >selling  information</label><br><br>
              <div class="form-group row">
                <br>
                <label class="col-sm-2 col-form-label" style="color: aliceblue;">Selling price </label>
                <div class="col-sm-12 col-md-7 col-9 ml-5">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text text-white" style="background-color: black;">INR</div>
                    </div>
                    <input required type="text" name="sel_price" style="color: #ede4e4;" class="form-control">
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="form-group row">
                <label  class="col-sm-2 col-form-label" style="color: aliceblue;">Account *</label>
                <div class="col-sm-10 col-md-7 col-9 ml-5">
                  <select name="sel_acc" class="form-control " style="background-color: black; color: white;">
                    <option value=" ">--Select Account--</option>
                    <option value="General Income">General Income</option>
                    <option value="Interest Income">Interest Income</option>
                    <option value="Late Fee  Income">Late Fee  Income</option>  
                    <option value="Discount Income">Discount Income</option>
                    <option value="Other Charges">Other Charges</option>
                    <option value="Shipping Charge">Shipping Charge</option>
                
                  </select>                              
                </div>
              </div>
              <br>
              <br>
              <div class="form-group row">
                <label  class="col-sm-2 col-form-label" style="color: aliceblue;">Description </label>
                <div class="col-sm-10 col-md-7 col-9 ml-5">
                  <input  type="text" style="color: #ede4e4;" name="sel_desc" class="form-control " placeholder="Enter Discription">
                </div>
              </div>
                                    
            </div>
            <div class="col-md-6">
              <input type="checkbox" name="purchase" checked> <label for="">Purchase information</label><br><br>
              <div class="form-group row">
                <br>
                <label  class="col-sm-2 col-form-label" style="color: aliceblue;">Cost Price*</label>
                <div class="col-sm-10 col-md-7 col-9">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text text-white" style="background-color: black;">INR</div>
                    </div>
                    <input required type="text" style="color: #ede4e4;" class="form-control " name="cost_price" >
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group row in">
      
                <label class="col-sm-2 col-form-label" style="color: aliceblue;">Account*</label>
                <div class="col-sm-10 col-md-7 col-5">
                    <div class="d-flex align-items-center">
                        <select name="cost_acc" class="form-control " id="myaccount" style="color: #fefefe;background-color: #000;" required>
                          <option value="">--Select Account--</option>
                          <optgroup id="expensesel" label="Expense">
                     
                          {% for i in accounts %}

                          {% if i.account_type == 'Expense' %}
                        
                            <option value="{{i.account_name}}">{{i.account_name}}</option>
                    
                          {% endif %}
                          {% endfor %}
                        </optgroup>
                        <optgroup id="costofgoods" label="Cost Of Goods Sold">
                          {% for i in accounts %}
                          {% if i.account_type == 'Cost Of Goods Sold' %}
                    
                            <option value="{{i.account_name}}">{{i.account_name}}</option>
                            
                            {% endif %}
                            {% endfor %}
                          </optgroup>
                          <optgroup id="otherexpensesel" label="Other Expense">
                          {% for i in accounts %}
                          {% if i.account_type == 'Other Expense' %}
                    
                            <option value="{{i.account_name}}">{{i.account_name}}</option>
                            
                            {% endif %}
                            {% endfor %}
                          </optgroup>
              
                         
                      
                        </select>
                        <script>
                          $(document).ready(function() {
                            // Initialize select2
                            $('#myaccount').select2();
                          });
                          </script>                        
                           <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" defer ></script>
                        <a class="btn btn-outline-warning py-2" style="cursor: pointer;" data-toggle="modal" data-target="#account" style="height: 38px; margin-right: 3px;">+</a>
 
                    </div>
                   
                </div>
            </div>
            <br>
            <div class="form-group row in">
                <label class="col-sm-2 col-form-label" style="color: aliceblue;">Description</label>
                <div class="col-sm-10 col-md-7 col-5">
                    <div class="d-flex align-items-center">
                        <input  type="text" style="color: #ede4e4;" name="pur_desc" class="form-control " placeholder="Enter Discription">
                    </div>
                </div>
            </div>
            </div>
            </div>
            <br>     <br>
            <div class="form-group row text-center">
                <label class="col-sm-2 col-form-label" style="color: aliceblue;">Minimum Stock to maintain :</label>
                <div class="col-sm-10 col-md-7 col-9 d-flex align-items-center" style="margin-left: -2.2rem;">
                  <input type="number" style="color: #ede4e4;" name="minimum_stock" class="form-control mx-auto" placeholder="Enter Minimum Stock">
                </div>
              </div>
              <br>
             
            <br><br>     
            <div class="row" >
              <div class="col-md-10">
                {% comment %} <label style="color: aliceblue;"><input type="checkbox" value="trackstate" name="trackstate" onclick="toggleForm()" style="display: none;">
               Track Inventory for this item</label> {% endcomment %}
                <!-- {% comment %} <input type="checkbox" name="trackState" id="trackStateCheckbox">{% endcomment %} -->
                <label style="color: aliceblue;">
               
                  <input type="checkbox" name="trackstate" class=" "  onclick="toggleFormFields()">
                  Track Inventory for this item
                </label>   <br>   <br>
                <div id="formFields" style="display: none;"> 
                  <div class="form-group row" >
                    <label class="col-sm-2 col-form-label" style="color: aliceblue;">Inventory Account *</label>
                    <div class="col-sm-10 col-md-7 col-9" style="margin-left: -1rem;">
                      <select class="form-select form-select-sm mt-3 " name="invacc" style="background-color: black; color: white;">
                        <option value="">Choose..</option>
                        <option value="inventory assets">Inventory Asset</option>
                      </select>
                    </div>
                  </div>
                  <br>
                  <div class="form-group row ">
                    <label class="col-sm-2 col-form-label" style="color: aliceblue;">Opening Stock</label>
                    <div class=" col-md-5">
                      <input  type="number" style="color: #ede4e4;" class="form-control "  name="openstock" value="0">
                    </div>
                    </div>
                    <br>
                    <div class="form-group row ">
                        <label class="col-sm-2 col-form-label" style="color: aliceblue;">Opening Stock Rate per Unit</label>
                        <div class=" col-md-5">
                            <input type="number" style="color: #ede4e4;" class="form-control" name="rate"  value="0">
                        </div>
                        </div>

                  </div>
                </div>
              </div>
              
            <div class="form-inline " style="margin-bottom: 200px;padding-bottom: 20px;">
                <button type="submit"  class="mr-3 btn" style="background-color: chocolate;color: aliceblue;" value="Save">Save</button>
                <button type="button" class="mr-3 btn" onclick="resetForm()" value="Cancel" style="margin-left:10px;background-color: chocolate;color: aliceblue;">Cancel</button>
              </div>   
              
              <div class="form-inline " style="margin-bottom: 200px;"></div>
              <div class="form-inline " style="margin-bottom: 200px;"></div>
              <div class="form-inline " style="margin-bottom: 200px;"></div>
    </form>
    </div>
    </div>
    </div>
    
    {% comment %} <div id="total-bill-amount" class="mt-3" style="color: white;"></div> {% endcomment %}
    <div>
        <div id="noDataMessage" style="display: none; color: white;">No data found for selected dates.</div>	
        <br><br><br><br><br>
    </div>

</div>
<div class="form-inline " style="margin-bottom: 200px;"></div>                <div class="form-inline " style="margin-bottom: 200px;"></div>


</div>
      </div>
  </div>

      <script>
        document.addEventListener('DOMContentLoaded', function() {
          // Function to format the date as "yyyy-mm-dd" (required format for <input type="date">)
          function formatDate(date) {
            const year = date.getFullYear();
            const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-based
            const day = date.getDate().toString().padStart(2, '0');
            return `${year}-${month}-${day}`;
          }
      
          // Get the current date
          const currentDate = new Date();
      
          // Set the input value to the formatted current date
          document.getElementById('dateInput').value = formatDate(currentDate);
        });
      </script>


      
  </div>
</body>

{% endblock %}